<a href="https://colab.research.google.com/github/Nouvalgt/Tugas-Pertemuan-3/blob/main/TugasPertemuan4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data = {
    'name': ['William', 'Emma', 'Sofia', 'Markus', 'Edward', 'Thomas', 'Ethan', 'Olivia', 'Arun', 'Anika', 'Paulo'],
    'region': ['East', 'North', 'East', 'South', 'West', 'West', 'South', 'West', 'West', 'East', 'South'],
    'sales': [50000, 52000, 90000, 34000, 42000, 72000, 49000, 55000, 67000, 65000, 67000],
    'expenses': [42000, 43000, 50000, 44000, 38000, 39000, 42000, 60000, 39000, 44000, 45000]
}

df = pd.DataFrame(data)

df
first_row = df.loc[3]

print(first_row)

name        Markus
region       South
sales        34000
expenses     44000
Name: 3, dtype: object

In [2]:
print(df.loc[3])

name        Markus
region       South
sales        34000
expenses     44000
Name: 3, dtype: object