<a href="https://colab.research.google.com/github/Nouvalgt/Tugas-Pertemuan-3/blob/main/TugasPertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
import pandas as pd
import numpy as np

In [9]:
import pandas
pandas.__version__

'1.5.3'

In [11]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame")
print(matrix_list)

DataFrame
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [16]:
number_list = pd.Series([1,2,3,4,5,6])
matrix_list = pd.DataFrame([[1,2,3],
                           ['a','b','c'],
                           [3,4,5],
                           ['d',4,6]])
#[1] method.info()
print("[1] method.info()")
print(matrix_list.info())
#[2] attribute.shape
print("\n[2] attribute.shape")
print(" shape dari number_list:", number_list.shape)
print(" shape dari matrix_list:", matrix_list.shape)
#[3] attribute.dtypes
print("\n[3] attribute.dtypes")
print(" tipe data number_list:", number_list.dtypes)
print(" tipe data matrix_list:", matrix_list.dtypes)
#[4] attribute.astype()
print("\n[4] method.astype()")
print(" konversi number_list ke str:", number_list.astype("str"))
print(" konversi matrix_list ke str:", matrix_list.astype("str"))

[1] method.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

[2] attribute.shape
 shape dari number_list: (6,)
 shape dari matrix_list: (4, 3)

[3] attribute.dtypes
 tipe data number_list: int64
 tipe data matrix_list: 0    object
1    object
2    object
dtype: object

[4] method.astype()
 konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
 konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [19]:
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UAS': [88, 78, 90, 81],
    'UTS': [90, 89, 85, 82]
}

# Membuat DataFrame
df = pd.DataFrame(data)
df["Nilai akhir"] = 0.3 * df["Tugas"] + 0.3 * df["UAS"] + 0.4 * df["UTS"]
df
# menampilan DataFrame
print(df)

                 Nama Gender   No. Telepon  Tugas  UAS  UTS  Nilai akhir
0      Arfian Purnama      L  081267001022     80   88   90         86.4
1  Alisa Dityaningrum      P  087823560918     89   78   89         85.7
2      Kiki Anggraeni      P  089654009102     76   90   85         83.8
3     Rizky Kurniawan      L  082267018967     80   81   82         81.1